.git
node_modules
vendor
public/build
public/hot
storage/logs/*
tests
.env
.env.*
!.env.example
.editorconfig
.idea
.vscode
docker-compose*.yml
.dockerignore
Dockerfile*
README.md
docs
.github
.DS_Store
*.log
